body{
      text-align: center;
      font-family: 'Quicksand', sans-serif;
      margin: 0px;
}
div.Top-container{
      background-color: #EAF6F6;
      position: relative;
      padding-top: 100px;
}
div.bottom-container{
      background-color: #66BFBF;
      padding-top: 50px;
      padding-bottom: 10px;
}
h1 {
      font-size: 90px;
      font-family: 'Sacramento', cursive;
      color: #66bfbf;
      margin-top: 50px;
      margin-bottom: 0px;
}
h2 {
      font-family: 'Instrument Serif', serif;
      font-size: 2.5rem;
      color: #66bfbf;
      margin-top: 0px;
      margin-bottom: 0px;
      font-weight: normal;
}
h3{
      color: #11999e;
      margin-top : 0px;
      margin-bottom : 0px;
}
a{
      color: #11999e;   
}
hr{
      border-style: none;
      border-color: black;
      border-top-style: dotted;
      border-width: 5px;
      width: 5pc;
}
.bio{
      margin-top: 0px;
      margin-bottom: 0px;
}
.top-cloud {
      position: absolute;
      right: 300px;
      top: 50px;
}
.bottom-cloud {
      position: absolute;
      left: 300px;
      bottom: 300px;
}
.skill-row{
      width:50%;
      margin: 10px auto 10px auto;
      text-align: justify;
      line-height:2;
}
.A{
      width :25%;
      margin-top: 20px;
}
.B{
      width :20%;
      float: left;
      margin-right: 30px;
}
.C{
      width: 20%;
      float: right;
      margin-left: 30px;
}
.discription{
      margin-top: 0px;
}
.btn {
      background: #11cdd4;
      background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
      background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
      background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
      background-image: -o-linear-gradient(top, #11cdd4, #11999e);
      background-image: linear-gradient(to bottom, #11cdd4, #11999e);
      -webkit-border-radius: 8;
      -moz-border-radius: 8;
      border-radius: 8px;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
}

.btn:hover {
      background: #30e3cb;
      background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
      background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
      background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
      background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
      background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
      text-decoration: none;
}
.button{
      margin-top: 20px;
      margin-bottom: 40px;
}
.footer-link{
      font-weight: bold;
      text-decoration: none;
}
.cr{
      color: #EAF6F6;
      margin-top: 30px;
      font-weight: bold;
}